---
import BaseLayout from "../layouts/BaseLayout.astro";
const base = import.meta.env.BASE_URL;
---

<BaseLayout>
  <div class="hero container mx-auto">
    <div class="hero__title">
      <h1 class="hero__title__display font-semibold">
        What he do? What he does?
      </h1>
    </div>
    <div class="hero__buttons">
      <a
        href="/work.html"
        class="button button--style--primary button--size--regular"
      >
        <div class="button__inner">
          <div class="button__label">See our work</div>
        </div>
      </a>

      <a
        href="/contact.html"
        class="button button--style--secondary button--size--regular"
      >
        <div class="button__inner">
          <div class="button__label">Contact us</div>

          <div class="button__icon">
            <div class="icon">
              <i class="bx bx-right-arrow-alt"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="work-display container mx-auto">
    <div class="work work-full">
      <div class="work__image">
        <a href="">
          <img
            class="lazyload"
            data-sizes="auto"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
            data-src="https://source.unsplash.com/random"
            alt=""
          />
        </a>
      </div>
      <div class="work__title">
        <a href="">
          <span>Project Title</span>
        </a>
      </div>
    </div>

    <div class="work work-4">
      <div class="work__image">
        <a href="">
          <img
            class="lazyload"
            data-sizes="auto"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
            data-src="https://source.unsplash.com/900x1200"
            alt=""
          />
        </a>
      </div>
      <div class="work__title">
        <a href="">
          <span>Project Title</span>
        </a>
      </div>
    </div>

    <div class="work work-5">
      <div class="work__image">
        <a href="">
          <img
            class="lazyload"
            data-sizes="auto"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
            data-src="https://source.unsplash.com/1600x900"
            alt=""
          />
        </a>
      </div>
      <div class="work__title">
        <a href="">
          <span>Project Title</span>
        </a>
      </div>
    </div>
  </div>

  <div class="display-text container mx-auto">
    <div>
      Dart Studio is a hard-working, innovative marketing agency that
      accelerates growth for good companies.<br />
      <br />We build brands through strategy, design, digital experiences, and
      marketing. If you want to plant seeds of success and watch them grow,
      you’re in the right spot.
    </div>
  </div>

  <div class="work-display container mx-auto">
    <div class="work work-full">
      <div class="work__image">
        <a href="">
          <img
            class="lazyload"
            data-sizes="auto"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
            data-src="https://source.unsplash.com/random"
            alt=""
          />
        </a>
      </div>
      <div class="work__title">
        <a href="">
          <span>Project Title</span>
        </a>
      </div>
    </div>

    <div class="work work-4">
      <div class="work__image">
        <a href="">
          <img
            class="lazyload"
            data-sizes="auto"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
            data-src="https://source.unsplash.com/900x1200"
            alt=""
          />
        </a>
      </div>
      <div class="work__title">
        <a href="">
          <span>Project Title</span>
        </a>
      </div>
    </div>

    <div class="work work-5">
      <div class="work__image">
        <a href="">
          <img
            class="lazyload"
            data-sizes="auto"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkZlD/DwABYwErWwRBvQAAAABJRU5ErkJggg=="
            data-src="https://source.unsplash.com/1600x900"
            alt=""
          />
        </a>
      </div>
      <div class="work__title">
        <a href="">
          <span>Project Title</span>
        </a>
      </div>
    </div>
  </div>

  <div
    class="container mx-auto work-display-cta flex justify-center mt-24 mb-28"
  >
    <a
      href="works.html"
      class="button button--style--secondary button--size--large"
    >
      <div class="button__inner">
        <div class="button__label">I wanna see more</div>

        <div class="button__icon">
          <div class="icon">
            <i class="bx bx-right-arrow-alt"></i>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="clients" data-component='{"component": "scroller"}'>
    <ul class="clients__inner">
      <li>
        <img
          class=""
          src=`${base}/assets/images/clients/Tupperware.svg`
          alt=""
        />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/GATX.svg` alt="" />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/Redbull.svg` alt="" />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/HRA.svg` alt="" />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/OSCE.svg` alt="" />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/Otta.svg` alt="" />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/SES.svg` alt="" />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/Air.svg` alt="" />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/EC.svg` alt="" />
      </li>

      <li>
        <img
          class=""
          src=`${base}/assets/images/clients/Greenfibra.svg`
          alt=""
        />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/Signmesh.svg` alt="" />
      </li>

      <li>
        <img class="" src=`${base}/assets/images/clients/Cricova.svg` alt="" />
      </li>
    </ul>
  </div>
</BaseLayout>

<script type="module" src="assets/scripts/main.js"></script>

<script>
  function init() {
    if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
      addAnimation();
    }
  }

  function addAnimation() {
    element.setAttribute("data-animated", true);

    const scrollerInner = element.querySelector(".clients__inner");
    const scrollerContent = Array.from(scrollerInner.children);

    scrollerContent.forEach((item) => {
      const dup = item.cloneNode(true);
      dup.setAttribute("aria-hidden", true);
      scrollerInner.appendChild(dup);
    });
  }

  init();
</script>
