---
const base = import.meta.env.BASE_URL;
---

<div class="header" data-component='{"component": "header"}'>
  <div class="header__logo">
    <a href="./">
      <img class="log" src=`${base}/assets/images/logo.svg` alt="Logo Dart" />
    </a>
  </div>
  <nav class="header__menu">
    <div class="header__menu__item">
      <a class="hover-slide hover-slide--nano" href=`${base}/about`>About</a>
    </div>

    <div class="header__menu__item">
      <a class="hover-slide hover-slide--nano" href=`${base}/services`
        >Services</a
      >
    </div>

    <div class="header__menu__item">
      <a class="hover-slide hover-slide--nano" href=`${base}/work`>Work</a>
    </div>

    <div class="header__menu__item">
      <a class="hover-slide hover-slide--nano" href=`${base}/careers`>Careers</a
      >
    </div>

    <div class="header__menu__item">
      <a class="hover-slide hover-slide--nano" href=`${base}/contact`>Contact</a
      >
    </div>
  </nav>
</div>
